:root{
    --clr-primary-soft-blue: hsl(215, 51%, 70%);
    --clr-primary-cyan: hsl(178, 100%, 50%);        

    --clr-neutral-very-dark-blue-bg-main: hsl(217, 54%, 11%);
    --clr-neutral-very-dark-blue-bg-card: hsl(216, 50%, 16%);
    --clr-neutral-very-dark-blue-line: hsl(215, 32%, 27%);
    --clr-neutral-white: hsl(0, 0%, 100%);
    
    --ff-outfit:"Outfit", sans-serif;

    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;

    --fw-300:300;
    --fw-400:400;
    --fw-600:600;


}

*, *::before, *::after{
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
}

body, h1, p, a
{
    margin: 0;
    padding: 0;
}


body{
    --gap: 1rem;

    background-color: var(--clr-neutral-very-dark-blue-bg-main);
    color:var(--clr-primary-soft-blue);
    font-family: var(--ff-outfit);
    font-size: var(--fs-400);
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-content: center;
}

main{
    padding: var(--gap);
    display: grid;
    place-content: center;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.card{
    max-width:20rem;
    padding: var(--gap);
    border-radius: var(--gap);
    background-color: var(--clr-neutral-very-dark-blue-bg-card);
    display: grid;
    gap: 1.5rem;
}

.card-image{
    background: var(--clr-primary-cyan) url('images/image-equilibrium.jpg');
    background-size:cover;
    width: 100%;
    aspect-ratio: 1;
    border-radius: var(--gap);
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.card-image svg{
    display: none;
}

.card-image::after{
    position: absolute;
    content: '';
    width: 100%;
    aspect-ratio: 1;
    opacity: .4;
    background-color: var(--clr-primary-cyan);
    display: none;
    border-radius: var(--gap);
}

.card-image:hover svg{
    display: block;
    z-index: 1;
}

.card-image:hover::after{
    display: block;
}

.card-title a{
    color: var(--clr-neutral-white);
    font-size: var(--fs-500);
    cursor: pointer;
    text-decoration: none;
}

.card-title a:hover{
    color: var(--clr-primary-cyan);
}

.card-info{
    display: flex;
    justify-content: space-between;
}

.card-info-price{
    display: flex;
    gap: .25rem;
    flex-grow: 1;
    color: var(--clr-primary-cyan);
}

.card-info-days{
    display: flex;
    justify-content: end;
    gap: .25rem;
    flex-grow: 1;
    
}
.card-owner{
    display: flex;
    gap: .5rem;
    align-items: center;
    padding-top: var(--gap);
    border-top: 1px solid var(--clr-neutral-very-dark-blue-line);
}

.card-owner-image{
    width: 2.5rem;
    aspect-ratio: 1;
    border: 1px solid var(--clr-neutral-white);
    border-radius: 50%;
}

.card-owner-description a {
    color: var(--clr-neutral-white);
    text-decoration: none;
    cursor: pointer;
}

.card-owner-description a:hover{
    color: var(--clr-primary-cyan);
}